TURSO_URL=
TURSO_AUTH_TOKEN=
# Enable debug logging for the application
PUBLIC_DEBUG=false

# Cloudinary Credentials for audio/image sync
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=